{% extends "base.html" %}
{% block title %}Detail Description{% endblock %}

{% block content %}
    <hr/>
    <table class="col-lg-12">
        <thead>
            <tr>
                <td class="col-md-1 col-xs-3">id</td>
                <td class="col-md-1 col-xs-3">hand</td>
                <td class="col-md-1 col-xs-3">summ</td>
                <td class="col-md-2 col-xs-3">cards</td>
                <td class="col-md-1 col-xs-3">action</td>
                <td class="col-md-1 col-xs-3">strategy</td>
                <td class="col-md-1 col-xs-3">rate</td>
                <td class="col-md-1 col-xs-3">win</td>
                <td class="col-md-1 col-xs-3">detail_id</td>
            </tr>
        </thead>
        <tbody>
            {% for rec in page_records %}
            <tr>
                <td>{{ rec.id }}</td>
                <td>{{ rec.hand }}</td>
                <td>{{ rec.summ }}</td>
                <td>{{ rec.cards }}</td>
                <td>{{ rec.action }}</td>
                <td>
                    {% if rec.strategy %}
                        <h4 class="label label-success">OK</h4>
                    {% else %}
                        <h4 class="label label-danger">NOT OK</h4>
                    {% endif %}
                </td>
                <td>{{ rec.rate }}</td>
                <td>{{ rec.win }}</td>
                <td>{{ rec.detail_id }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}