{% extends "base.html" %}
{% block title %}Detail History{% endblock %}

{% block content %}
    <form class="form-horizontal" method="get" action="">
        <div class="form-group">
            {{ form.csrf_token }}
            {{ form.identifier.label }} {{ form.identifier }}
        <input class="btn btn-outline-primary" type="submit" value="Filter"/>
        </div>
    </form>
    <hr/>
    <table class="col-lg-12">
        <thead>
            <tr>
                <td class="col-dm-1">id</td>
                <td class="col-dm-1">game_id</td>
                <td class="col-dm-1">time</td>
                <td class="col-dm-1">wagered</td>
                <td class="col-dm-1">result</td>
                <td class="col-dm-1">summary_id</td>
                <td class="col-dm-1">identifier</td>
            </tr>
        </thead>
        <tbody>
            {% for rec in page_records %}
            <tr>
                <td>
                    <a href="/description/{{ rec.id }}/">
                        {{ rec.id }}
                    </a>
                </td>
                <td>{{ rec.game_id }}</td>
                <td>{{ rec.time }}</td>
                <td>{{ rec.wagered }}</td>
                <td>{{ rec.result }}</td>
                <td>{{ rec.summary_id }}</td>
                <td>{{ rec.identifier }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>

{% endblock %}