{% extends "base.html" %}
{% block title %}Summary History{% endblock %}

{% block content %}
    <form class="form-horizontal col-md-offset-8" method="GET" action="">
        <div class="form-group">
                {{ forms.identifier.label }} {{ forms.identifier(size=9) }}
                {{ forms.date_from.label }} {{ forms.date_from(size=9) }}
                {{ forms.date_to.label }} {{ forms.date_to(size=9) }}
            <input class="btn btn-outline-primary" type="submit" value="Filter"/>
        </div>
    </form>
    <hr/>

    <table class="col-lg-12">
        <thead id="head">
            <tr>
                <td class="col-dm-1">
                    ID
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{{ urlic }}col/id/desc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ urlic }}col/id/asc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </td>
                <td class="col-dm-1">
                    DATE
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{{ urlic }}col/date/desc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ urlic }}col/date/asc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </td>
                <td class="col-dm-1">
                    GAME
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{{ urlic }}col/game/desc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ urlic }}col/game/asc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </td>
                <td class="col-dm-1">
                    MIN
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{{ urlic }}col/min/desc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ urlic }}col/min/asc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </td>
                <td class="col-dm-1">
                    PLAYS
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{{ urlic }}col/plays/desc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ urlic }}col/plays/asc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </td>
                <td class="col-dm-1">
                    WAGERED
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{{ urlic }}col/wagered/desc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ urlic }}col/wagered/asc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </td>
                <td class="col-dm-1">
                    RATE
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{{ urlic }}col/rate/desc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ urlic }}col/rate/asc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </td>
                <td class="col-dm-1">
                    WINNINGS
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{{ urlic }}col/winnings/desc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ urlic }}col/winnings/asc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </td>
                <td class="col-dm-1">
                    PENDING
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{{ urlic }}col/pending/desc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ urlic }}col/pending/asc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </td>
                <td class="col-dm-1">
                    IDENTIFIER
                    <div class="btn-group btn-group-xs" role="group">
                        <a href="{{ urlic }}col/identifier/desc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-down" aria-hidden="true"></span>
                            </button>
                        </a>
                        <a href="{{ urlic }}col/identifier/asc/">
                            <button type="button" class="btn btn-default btn-xs">
                                <span class="glyphicon glyphicon-menu-up" aria-hidden="true"></span>
                            </button>
                        </a>
                    </div>
                </td>
            </tr>
        </thead>
        <tbody>
            {% for rec in page_records %}
                <tr>
                    <td class="col-dm-1">
                        <a href="/detail/summary/{{ rec.id }}/">
                            {{ rec.id }}
                        </a>
                    </td>
                    <td>{{ rec.date }}</td>
                    <td>{{ rec.game }}</td>
                    <td>{{ rec.min }}</td>
                    <td>{{ rec.plays }}</td>
                    <td>{{ rec.wagered }}</td>
                    <td>{{ rec.rate }}</td>
                    <td>{{ rec.winnings }}</td>
                    <td>{{ rec.pending }}</td>
                    <td>{{ rec.identifier }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}